
<%= form_for [@project, @task] do |f| %>
  <% if @task.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@task.errors.count, "error") %> 
       prohibited this task from being saved:</h2>

     <ul>
     <% @task.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>
  
  <p>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.label :start_date %>
    <%= f.date_field :start_date%>
  </p>

  <p>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
  </p>  

  <p>
    <%= f.label :estimation %>
    <%= f.text_field :estimation %>
  </p>

  <%= f.submit "Task", class: "btn btn-primary btn-small"%>
<% end %>
