<%= form_for(@project) do |f| %>
<% if @project.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@project.errors.count, "error") %> 
       prohibited this project from being saved:</h2>

     <ul>
     <% @project.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>
<p>
<%= f.label :name %><br />
<%= f.text_field :name %>
</p>
<p>
<%= f.label :summary %><br />
<%= f.text_area :summary %>
</p>
<p>
<%= f.label :start_date %><br />
<%= f.date_field :start_date%>
</p>
<p>
<%= f.label :end_date %><br />
<%= f.date_field :end_date %>
<%= f.submit "Project", class: "btn btn-primary btn-small" %>
<% end %>
