<h1>Projects</h1>

<table id="projects" >
  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Summary</th>
	    <th>Start_date</th>
	    <th>End_date</th>
	  </tr>
  </thead>

  <tbody>
	  <% @projects.each do |project| %>
	  <tr>
	    <td><%= link_to project.name, project %></td>
	    <td><%= project.summary %></td>
	    <td><%= project.start_date %></td>
	    <td><%= project.end_date %></td>
	  </tr>
	  <% end %>
  <tbody>
</table>

<% admins_only do %>
  <%= link_to "New Project", new_project_path %>
<% end %>
